.prophet{
  font-size: 1.7em;
  color: olive;
}

.prophet1 {
  font-size: 1.4em;
  color: olive;
}

.p5, .p6, .p7 {
  line-height: 2;
}

.p8, .p10 {
  font-size: 38px;
  line-height: 1.5;
}

.p2, .p9, .p11, .p12, .p13, .p17, .p21, .p24, .p29, .p46 {
  font-size: 44px;
  padding-top: 120px;
}

.p30 {
  font-size: 36px;
}


.p23, .p34 {
  font-size: 32px;
  line-height: 0.2;
}




.p36 {
  font-size: 40px;
  line-height: 1.8;

}


.p38 {
  font-size: 32px;
}

.p43 {
  font-size: 34px;
}

.p44 {
  font-size: 44px;
}
